{% extends "factory/base.html" %}
{% load static %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="row justify-content-center">
  <!-- [ badge ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header" style="display:flex;justify-content:space-between">
        <h5>GP4</h5>
      </div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>New Download</h4>
        </div>
        <form action="." method="post">
          {% csrf_token %}
          <div class="form-group row">
            <label for="language" class="col-md-3 col-form-label text-md-right">Language :</label>
            <div class="col-md-6">
              <select class="form-control" id="language" name="language">
                <option value="" selected disabled class="text-muted">Select Language</option>
                <option value="en">English (en)</option>
                <option value="fr">French (fr)</option>
                <option value="es">Espagnol (es)</option>
                <option value="it">Italian (it)</option>
                <option value="pt">Portuguese (pt)</option>
                <option value="zh">Chinese (zh)</option>
                <option value="de">Deutsch (de)</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="procedure_names" class="col-md-3 col-form-label text-md-right">Procedure's To translate :</label>
            <div class="col-md-6">
              <textarea class="form-control form-control-lg" rows="10" id="procedure_names" name="procedure_names" placeholder="Enter Procedure's Name" rows="4" cols="50"></textarea>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="background-color: #1DE9B6; border-color: #1DE9B6; border-radius: 20px;">Download</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- [ badge ] end -->
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
